:root {
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --grey: hsl(0, 0%, 50%);
  --black: hsl(0, 0%, 7%);

  --heading: 24px;
  --body-m: 16px;
  --body-s-bold: 14px;
  --body-s-regular: 14px;
}

/* for some reason importing fonts from local directory only works locally but it won't work using github pages. */
/* so instead i'm importing fonts from the html document */
/* @font-face {
  font-family: 'Figtree';
  src: url('../assets/fonts/Figtree-VariableFont_wght.ttf');
} */

.figtree-500 {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.figtree-800 {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

body {
  background-color: var(--yellow);
  color: var(--black);
}

.card {
  /* center card */
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  /* card style */
  width: 277px;
  height: 451px;
  border: 1px solid black;
  border-radius: 20px;
  padding: 24px;
  background-color: var(--white);
  box-shadow: 8px 8px;
}

.content {
  height: 173px;
  margin-bottom: 24px;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blogimage {
  border-radius: 10px;
  width: 100%;
  height: 194px;
  margin-bottom: 24px;
  object-fit: cover;
}

.category {
  font-size: 12px;
  border-radius: 4px;
  padding: 6px 12px;
  width: fit-content;
  background-color: var(--yellow);
}

.publishdate {
  font-size: 12px;
}

.title {
  font-size: 20px;
}

.title:hover {
  color: var(--yellow);
  cursor: pointer;
}

.card:has(.title:hover) {
  box-shadow: 16px 16px;
}

.description {
  font-size: 14px;
  color: var(--grey);
}

.author {
  height: 32px;
}

.author-name {
  font-size: var(--body-s-bold);
  line-height: 0px;
  height: 10px;
  margin: 0px;
  display: table-cell;
  vertical-align: middle;
  padding: 10px;
}

.avatar {
  float: left;
  border-radius: 50%;
  max-height: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 1224px) {
  .card {
    width: 334px;
    height: 472px;
  }

  .content {
    height: 194px;
  }

  .category {
    font-size: var(--body-s-bold);
  }

  .publishdate {
    font-size: var(--body-s-regular);
  }

  .title {
    font-size: var(--heading);
  }

  .description {
    font-size: var(--body-m);
  }
}
